/* css styles */

/* Navbar logo */

.navbar-brand img {
  max-height: 100px;
}


@media (max-width: 768px) {
  .navbar-brand img {
    max-height: 60px;
  }
}

.navbar {
  background:
    linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)),
    url("imgs/redpattern-10.png");
  background-size: cover;
  background-position: center;
}

.isbs-title .callout-title {
  font-size: 5rem !important;
}

.countdown-pill {
  font-weight: normal;
  white-space: nowrap;
  cursor: default;
}