/* css styles */

/* Navbar logo */

.navbar-brand img {
  max-height: 100px;
}

.navbar {
  background:
    linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)),
    url("images/redpattern-10.png");
  background-size: cover;
  background-position: center;
}